.head {
	display: flex;
	align-items: center;
	column-gap: 25px;
	h3 {
		translate: 0 3px;
		color: var(--grey-100);
	}
}
@media screen and (max-width: 500px) {
	.head {
		flex-flow: column;
		align-items: flex-start;
		h2 {
			font-size: 18px;
		}
		h3 {
			font-size: 12px;
		}
	}
}
