.btn {
	min-width: 44px;
	max-width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--blocks-radius);
	border: 1px solid var(--purple-300);
	transition: var(--tran-low);
	&:hover {
		background-color: var(--purple-300);
		.icon {
			path {
				stroke: var(--white-100);
			}
		}
	}
}
.icon {
	transition: inherit;
	path {
		transition: inherit;
	}
}
