.wrapper {
}
.container {
	background-color: var(--purple-300);
	background-image: var(--backgroundImage);
	background-size: cover;
	background-position: center center;
	display: flex;
	column-gap: 30px;
	align-items: center;
	padding: 25px 65px !important;
	border-radius: 10px;
	color: var(--white-100);
}

@media screen and (max-width: 1044px) {
	.container {
		padding: 25px 50px !important;
	}
}

@media screen and (max-width: 500px) {
	.container {
		padding: 50px 0 0 0 !important;
		background: none;
		flex-wrap: wrap;
	}
	.wrapper {
		position: relative;
	}
	.info_mobile_content {
		margin: 24px 0;
	}
}
