.label {
	cursor: pointer;
	display: flex;
}
.btn {
	width: 100%;
	display: flex;
	column-gap: 8px;
	align-items: center;
	justify-content: center;
	svg {
		transition: inherit;
		path {
			transition: inherit;
		}
	}
	&:hover {
		svg {
			path {
				stroke: var(--white-100);
			}
		}
	}
}
.inp {
	display: none;
}
