.content {
	--border-bottom: 1px solid var(--grey-100);
}
.head {
	border-bottom: var(--border-bottom);
	padding: 28px 0 17px 0;
}
.sales {
	border-bottom: var(--border-bottom);
	padding: 25px 0 35px 0;
}
.actions {
	border-bottom: var(--border-bottom);
	padding: 35px 0 45px 0;
}
.shop {
	margin-top: 27px;
}
