.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-content: space-between;
    gap: 30px;
}
@media screen and (max-width: 870px) {
    .wrapper {
        gap: 20px;
    }
}
@media screen and (max-width: 380px) {
    .wrapper {
        gap: 5px;
    }
}

.loadingMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; 
}

.endMessage {
    text-align: center; 
    padding: 20px 0; 
    color: var(--gray-500); 
}
