.discount {
	padding: 4px 12px;
	border-radius: 16px;
	display: inline-block;
}
.green {
	background-color: var(--plaque-green-100);
	color: var(--plaque-green-200);
}
.blue {
	background-color: var(--plaque-blue-100);
	color: var(--plaque-blue-200);
}
.black {
	background-color: var(--plaque-black-100);
	color: var(--plaque-black-200);
}
.orange {
	background-color: var(--plaque-orange-100);
	color: var(--plaque-orange-200);
}
.red {
	background-color: var(--plaque-red-100);
	color: var(--plaque-red-200);
}
.purple {
	background-color: var(--plaque-purple-100);
	color: var(--plaque-purple-200);
}
