.wrapper {
	h2 {
	}
	.switcher {
		margin-top: 25px;
	}
}
.inp {
	&::placeholder {
		color: var(--grey-200);
	}
}
.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px 0;
	gap: 20px;
	flex-wrap: wrap;
}
.action {
	--btn-bckg: var(--white-300);
}
.inp_wrapper {
	max-width: 450px;
}
