.wrapper {
	display: grid;
	grid-template-columns: 126px 400px;
	grid-template-rows: 530px 42px;
	row-gap: 6px;
	column-gap: 20px;
}
.scrollbar {
	display: flex;
	flex-flow: column;

	row-gap: 14px;
	.item {
		flex: 1;
	}
}
.active {
}
.next_images {
}
