.transactions {
	margin: 70px 0 90px 0;
}
@media screen and (max-width: 620px) {
	.transactions {
		margin: 30px 0 60px 0;
	}
}

@media screen and (max-width: 380px) {
	.transactions {
		margin: 30px 0;
	}
}
