.wrapper {
	padding: 35px 0;
	border-bottom: 1px solid var(--black-opacity-10);
}
.group {
	margin-top: 25px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
}
.item {
	min-width: auto;
}

@media screen and (max-width: 870px) {
	.group {
		grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
	}
}
@media screen and (max-width: 780px) {
	.group {
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	}
}
@media screen and (max-width: 380px) {
	.title {
		font-size: 20px;
	}
	.group {
		gap: 10px;
	}
}
