.wrapper {
	h2 {
	}
	.switcher {
		margin-top: 25px;
	}
}
.inp {
	&::placeholder {
		color: var(--grey-200);
	}
}
.inp_wrapper {
	margin: 35px 0;
	width: 450px;
}

@media screen and (max-width: 620px) {
	.inp_wrapper {
		width: 100%;
		margin: 15px 0;
	}
}
