.wrapper {
    .content {
        padding: 10px 14px;
        background-color: var(--white-300);
        border: 1px solid var(--white-200);
        border-radius: var(--blocks-radius);
        color: var(--grey-200);
        min-height: 150px;
    }
}
.content_wrapper {
    margin-bottom: 50px;
    .title {
        margin-bottom: 10px;
    }
}
