.wrapper {
	cursor: pointer;
	position: fixed;
	left: 0;
	top: 0;
	transition: var(--tran-mid);
	z-index: var(--modals-z);
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: var(--black-200-opacity-70);
	backdrop-filter: blur(16px);

	&.visible {
		opacity: 1;
	}
}
.content {
	cursor: default;
}
