.wrapper {
	display: grid;
	grid-template-columns: 126px 400px;
	grid-template-rows: 530px auto;
	row-gap: 6px;
	column-gap: 20px;
	--item-radius: 20px;
}
.scrollbar_wrapper {
	overflow: hidden;
	height: 100%;
}
.scrollbar {
	transition: var(--tran-mid);
	display: flex;
	flex-flow: column;
	row-gap: 14px;
	.item {
		flex: 1;
		overflow: hidden;
		border-radius: var(--item-radius);
		background-color: var(--black-100);
		img {
			transition: var(--tran-low);
		}
		&.active_item {
			img {
				opacity: 0.8;
			}
		}
	}
	.stub {
		border-radius: var(--item-radius);
		background-color: var(--white-300);
	}
}
.active {
	overflow: hidden;
	border-radius: var(--item-radius);
}
.btn_wrapper {
	cursor: default;
	display: flex;
	justify-content: center;
	.next_images {
		transition: var(--tran-low);
	}
	.next_images:hover {
		scale: 1.1;
	}
}
