.fill {
}
.outline {
}
.big {
    min-width: 187px;
    padding: 14px 20px;
}
.mid {
    min-width: 127px;
    padding: 11px 18px;
}
.low {
    min-width: 100px;
    padding: 8px 14px;
    p {
        font-size: 12px;
    }
}
.button {
    background-color: var(--primary-color);
    border: 1px solid var(--second-color);
    color: var(--second-color);
    transition: var(--tran-low);
    border-radius: var(--blocks-radius);
    &:disabled {
        cursor: default;
        opacity: 0.4;
    }
    &:not(:disabled):not(.cancel):hover {
        background-color: var(--second-color);
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
}
.cancel {
    border: 1px solid var(--white-200);
    color: var(--grey-500);
}
.wFull {
    width: 100%;
}
