.wrapper {
	h2 {
		color: var(--black-200);
	}
	h4 {
		color: var(--grey-600);
		margin: 8px 0 32px 0;
	}
}
.actions {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	.btn {
		min-width: 170px;
		padding: 10px 18px;
		flex: 1;
		p {
			font-size: 15px;
		}
	}
}
