.item {
	width: 100%;
	color: var(--grey-500);

	border: 1px solid var(--white-400);
	border-radius: var(--blocks-radius);
	cursor: pointer;
}
.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 8px;
	padding: 16px;
}
.icon {
	width: 14px;
	height: 14px;
	rotate: -90deg;
}
