.wrapper {
	img {
		margin: 0 auto;
	}
	h2 {
		margin-top: 32px;
	}
	h3 {
		color: var(--grey-500);
		margin: 8px 0 0 0;
		.link {
			color: var(--blue-100);
			text-decoration: underline;
			text-decoration-color: var(--blue-100);
			text-underline-offset: 3px;
		}
	}
}
.btn {
	margin-top: 32px;
	flex: 1;
}
