.wrapper {
	position: relative;
	border-radius: 50%;
	background-color: var(--white-100);
	min-width: 126px;
	width: 126px;
	height: 126px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 8%);
	box-shadow: 0 4px 6px -2px rgba(16, 24, 40, 3%);

	& > img {
		border-radius: inherit;
		width: calc(100% - 7px);
		height: calc(100% - 7px);
	}
	& > h2 {
		color: var(--purple-300);
	}
	&:hover {
		.photo_overlay {
			opacity: 1;
		}
	}
}
.hasAvatar {
}
.photo_overlay {
	cursor: pointer;
	transition: var(--tran-low);
	opacity: 0;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	width: calc(100% - 7px);
	height: calc(100% - 7px);
	background-color: var(--black-opacity-60);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	}
}
