.link {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: var(--tran-low);
    p {
        opacity: 0.8;
    }
    .icon {
        path {
            transition: var(--tran-low);
        }
    }
    &:hover {
        background-color: rgba(158, 119, 237, 35%);
        p {
            opacity: 1;
        }
        .icon {
            path {
                stroke: var(--white-100);
            }
            &.fill {
                path {
                    fill: var(--white-100);
                }
            }
        }
    }
    &.active {
        background-color: rgba(158, 119, 237, 35%);
        p {
            opacity: 1;
        }
        .icon {
            path {
                stroke: var(--white-100);
            }
            &.fill {
                path {
                    fill: var(--white-100);
                }
            }
        }
    }
}
