.wrapper {
}
.group {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
}
.link {
}
.item {
}
@media screen and (max-width: 380px) {
    .group {
        gap: 15px;
    }
}
