.item {
	border: none;
	border-top: var(--chat-main-border, 1px solid var(--white-400));
	&:first-child {
		border-top: none;
	}
	&:last-child {
		border-bottom: var(--chat-main-border, 1px solid var(--white-400));
	}
}

@media screen and (max-width: 870px) {
	.item_content {
		flex-grow: 1;
	}
	.item_footer {
		column-gap: 8px;
		justify-content: space-between;
	}
	.item_head {
		column-gap: 8px;
		justify-content: space-between;
	}
}
