.wrapper {
	display: flex;
	column-gap: 45px;
	align-items: center;
	--icon-width: 24px;
}
.link {
	transition: var(--tran-low);
	opacity: 0.7;
	padding: calc(var(--icon-width) / 2);
	border-radius: 6px;
	display: flex;
	&:not(.active_link):hover {
		background-color: var(--purple-300);
	}
	&.active_link {
		opacity: 1;
		background-color: var(--purple-300);
	}
	svg {
		width: var(--icon-width);
		height: var(--icon-width);
	}
}
