.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.item {
    column-gap: 50px;
    display: flex;
    flex-wrap: wrap;
}
.info {
    max-width: 352px;
    color: var(--grey-100);
    margin-top: 23px;
}
.textarea_wrapper {
    max-width: var(--elements-max-width);
    width: 100%;
}
.textarea {
    min-height: 170px;
    font-size: 14px;
}
.btn {
    min-width: 185px;
    margin-top: 20px;
}
