.main {
    background-color: var(--white-300);
    padding: 20px 0 30px 0;
    min-height: 100%;
}
.account {
    margin: 0 30px;
}
.dashboard {
    padding-top: 24px;
    background-color: var(--white-300);
    display: flex;
    column-gap: 45px;
}
.form {
    flex-grow: 1;
}
.half {
    display: flex;
    flex-flow: column;
    row-gap: 35px;
    width: 420px;
}

@media screen and (max-width: 1300px) {
    .dashboard {
        flex-wrap: wrap;
    }
    .form {
        min-width: 380px;
        margin-bottom: 30px;
    }
    .half {
        flex-grow: 1;
    }
}
@media screen and (max-width: 1044px) {
    .dashboard {
        row-gap: 40px;
    }
    .half {
        display: contents;
        width: 100%;
    }
    .form {
        min-width: auto;
        margin-bottom: 0;
        width: 100%;
        order: 1;
    }
    .notifications {
        width: 100%;
        order: 2;
    }
    .balance {
        width: 100%;
        order: 0;
    }
    .statistic {
        width: 100%;
        order: 2;
    }
    .exit_btn_mobile {
        order: 2;
    }
    .statistic_info {
        width: 100%;
        order: 2;
    }
}

@media screen and (max-width: 620px) {
    .dashboard {
        row-gap: 25px;
    }
}
@media screen and (max-width: 500px) {
    .main {
        padding-top: 0;
    }
    .dashboard {
        padding: 0px;
    }
    .account {
        margin: 0;
        margin-top: 0 !important;
        background-color: var(--white-300);
    }
}
