.wrapper {
    display: flex;
    align-items: center;
    column-gap: 7px;
    flex-wrap: wrap;
    row-gap: 10px;
    color: var(--black-opacity-60);
    .item {
        display: flex;
        align-items: center;
        column-gap: 5px;
        p {
            text-wrap: nowrap;
        }
        .icon {
            rotate: -90deg;
            width: 11.5px;
            height: 6.5px;
        }
    }
}
