.content {
	margin-top: 60px;
}

.main {
	padding: 32px 13px 32px 45px;
}

@media screen and (max-width: 870px) {
	.main {
		padding: 32px 20px;
	}
}

@media screen and (max-width: 788px) {
	.main {
		padding: 12px 20px;
	}
}
@media screen and (max-width: 500px) {
	.crumbs {
		padding: 0 10px;
	}
	.main {
		padding: 12px 0;
	}
}
