.outerContainer {
    padding: 0;
}

.promoBox {
    border-radius: 15px;
    overflow: hidden;
    font-size: 0; /* Removes any whitespace */
}

.bannerImage {
    width: 100%;
    background-size: 100% 100%; /* Ensures exact fit without distortion */
    background-position: center;
    background-repeat: no-repeat;
}
