.wrapper {
    padding: 20px 32px;
    border-radius: 16px;
    background-color: var(--purple-300);
    text-align: center;
}
.title {
    color: var(--white-100-opacity-70);
    margin-bottom: 10px;
}
.number {
    color: var(--white-100);
}
