.main {
    margin: 60px auto !important;
}
.list {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 16px;
}
.title {
    margin: 0 0 40px 0;
}
.subtitle {
    margin-bottom: 20px;
}
.root_list {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-weight: normal;
    row-gap: 40px;
}

@media screen and (max-width: 768px) {
    .list {
        padding-left: 20px;
        font-size: 14px;
    }
}
