.wrapper {
}
.form {
    .content {
        display: flex;
        flex-flow: column;
        row-gap: 24px;
        padding: 24px;
    }
    .inp_wrapper {
    }
    .inp {
    }
}
.btn_wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    border-top: var(--chat-main-border, 1px solid var(--white-400));
    padding: 16px 24px;
    .btn_save {
        min-width: auto;
        padding: 10px 16px;
        &:disabled {
            opacity: 0.4;
        }
        p {
            font-size: 14px;
        }
    }
}
.exit_btn {
    margin-top: 33px;
}
