.wrapper {
	display: flex;
}
.main {
	flex-grow: 1;
	height: 100vh;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 5px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--white-200);
	}
}
.header {
	padding-left: 20px;
	padding-right: 20px;
}
.content {
	padding: 32px 13px 32px 45px;
}

@media screen and (max-width: 870px) {
	.content {
		padding: 32px 20px;
	}
}
@media screen and (max-width: 788px) {
	.content {
		padding: 12px 20px;
	}
}
