.wrapper {
    display: flex;
}
.main {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--white-200);
    }
}
.header {
    padding-left: 20px;
    padding-right: 20px;
}
.content {
    --sidebar-content-padding-top: 32px;
    --sidebar-content-padding-left: 13px;
    --sidebar-content-padding-bottom: 32px;
    --sidebar-content-padding-right: 45px;
    height: 100%;
}
.content:not(.noPadding) {
    padding: var(--sidebar-content-padding-top)
        var(--sidebar-content-padding-left)
        var(--sidebar-content-padding-bottom)
        var(--sidebar-content-padding-right);
}

@media screen and (max-width: 870px) {
    .content {
        --sidebar-content-padding-top: 32px;
        --sidebar-content-padding-left: 20px;
        --sidebar-content-padding-bottom: 32px;
        --sidebar-content-padding-right: 20px;
    }
}

@media screen and (max-width: 788px) {
    .content {
        --sidebar-content-padding-top: 12px;
        --sidebar-content-padding-left: 20px;
        --sidebar-content-padding-bottom: 12px;
        --sidebar-content-padding-right: 20px;
    }
}
@media screen and (max-width: 500px) {
    .content {
        --sidebar-content-padding-top: 12px;
        --sidebar-content-padding-left: 10px;
        --sidebar-content-padding-bottom: 12px;
        --sidebar-content-padding-right: 10px;
    }
}
