.btn {
    display: flex;
    padding: 10px 20px;
    border: 1px solid var(--white-400);
    border-radius: var(--blocks-radius);
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    color: var(--grey-500);
}
