.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	width: 305px;
	background-color: var(--white-100);
	padding: 20px 23px;
	border-radius: 20px;
	border: 1px solid var(--black-opacity-30);
}
.apply_btn {
	margin: 20px 0 0 0;
}
